@import url('https://googleapis.com');

.footer-top {
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 28px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url('images/raisinghandsblue.png');

    padding-bottom: 25px;
    
}

.bottom-title {
    font-size: 19px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    color: rgb(1, 112, 202);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);

    margin-top: 55px;
}

.footer-top > * {
    margin: 0;
}

.join-us-button-3 {
    height: 35px;
    max-width: clamp(250px, 5vw, 360px);
    margin-top: 25px;
    background-color: rgb(1, 112, 202) !important; 
    border: none !important;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px !important;
    text-align: center;
    font-weight: bold;
    color: white;
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 6px;
}

.footer-top-title {
    font-size: clamp(30px, 5vw, 45px);
    font-weight: bolder;
    text-align: center;
}

.footer-top-desc {
    font-size: 23px;
    font-family: 'Montserrat', sans-serif;
    max-width: clamp(300px, 55vw, 750px);
    line-height: 30px;
    margin-top: 20px;
    text-align: center;
}


.footer-bottom {
    background-color: rgb(0, 4, 17);
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    padding-bottom: 35px;
}

.ow-logo-full {
    display: flex;
    align-items: center;
}

.under-logo-sub {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    max-width: clamp(200px, 55vw, 440px);
    line-height: 25px;
}

.left-block-foot {
    margin-left: 45px;

}




.quick-links-foot {
    color: white;
    font-family: 'Montserrat', sans-serif;
    
}
.quick-links-foot a > * {
    margin: 0;
}
.quick-links-foot a {
    color: #e0e0e0;
    text-decoration: none;
    font-weight: 100;
    font-size: 15px;
    line-height: 23px;
    display: flex;
    flex-direction: column;
}

.join-button-frame {
    transition: transform 1s ease, color 0.3s ease;
    text-decoration: none;
}

.join-button-frame h2 {
    text-decoration: none;
}

.join-button-frame:hover {
    transform: scale(1.1);
}
.right-block-bottom {
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.bottom-icon {
   filter: invert();
   width: 20px;
   height: 20px;
}
.b-row > * {
    margin: 0;
}
.b-row {
    display: flex;
    align-items: center;
    line-height: 37px;
    
}

.b-row h4 {
    margin-left: 20px;
    font-size: 15px;
    font-weight: lighter;
}

.media-links img {
    margin-top: 15px;
    margin-right: 20px;
}


.bottom-line {
    width: 100%;
    max-width: 500px;
    height: 2px;
    background-color: white;
    opacity: 40%;
    margin-bottom: 15px;
}
.floor {
    padding-top: 50px;
    background-color: rgb(0, 4, 17);
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;   
    text-align: center;
    width: 100%;
    padding-bottom: 50px;
    
}

.floor-sub a {
    margin-left: 15px;
}
.floor-sub {
    min-width: 15px;
}
.pp-redirect {
    color: rgb(0, 125, 226);
}

@media (max-width: 750px) {
    .footer-bottom {
        flex-direction: column;
    }
    .under-logo-sub {
        text-align: center;
    }
    .quick-links-foot {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
   .right-block-bottom {
    display: flex;
    align-items: center;

    flex-direction: column;
   }

   .left-block-foot {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
   }
}