

@import url('https://googleapis.com');
html, body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative; 
    z-index: -2;
}

@keyframes fade-coming-up {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}


@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-coming-up-bounce {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    50% {
        opacity: 1;
        transform: translateY(-5px);
    }
    75% {
        opacity: 1;
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes come-from-left {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    80% {
        transform: translateX(2%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes come-from-right {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }
    80% {
        transform: translateX(-2%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.background-img {
    opacity: 0; /*  change for edits */
    animation: fade-in 5s ease-in 2s forwards;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;   
    -webkit-mask-image: 
    linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgb(0,0,0) 15%, rgb(0,0,0) 85%, rgba(0,0,0,0) 90%),
    linear-gradient(to right,  rgba(0,0,0,0) 0%, rgb(0,0,0) 15%, rgb(0,0,0) 85%, rgba(0,0,0,0) 50%);
    mask-image: 
    linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgb(0,0,0) 25%, rgb(0,0,0) 65%, rgba(0,0,0,0) 80%),
    linear-gradient(to right,  rgba(0,0,0,0) 0%, rgb(0,0,0) 15%, rgb(0,0,0) 85%, rgba(0,0,0,0) 90%);
    -webkit-mask-composite: destination-in;
     mask-composite: intersect;
     filter: blur(2px);
}

.ow-motto {
    color: white;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 100px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);

}

.ow-motto > * {
    margin: 0;
}

.ow-motto h2 {
    opacity: 0; /*  change for edits */
    padding: 10px;
    font-size: 50px;
   
}
.ow-motto h3 {
    padding: 5px;
    font-size: 50px;
}



.motto1 {
    animation: fade-coming-up-bounce .5s ease-in forwards;

}
.motto2 {
    animation: fade-coming-up-bounce .5s ease-in .5s forwards;
    opacity: 0;
}
.motto3 {
    animation: fade-coming-up-bounce .5s ease-in 1.0s forwards;
}
.make-text {
    opacity: 0; /*  change for edits */
    display: inline-block;
    animation: fade-coming-up-bounce .5s ease-in 1.5s forwards;
}
.letter-A {
    opacity: 0; /*  change for edits */
    display: inline-block;
    animation: fade-coming-up-bounce .5s ease-in 2.0s forwards;
}

.difference-text {
    opacity: 0 ; /*  change for edits */
    display: inline-block;
    animation: fade-in .5s ease-in 2.5s forwards;
    color: rgb(212 175 55);
}

.ow-motto h4 {
    display: inline-block;
    opacity: 0;
    animation: fade-in 1s ease-in 4s forwards;
    font-size: 24px;
}
.line {
    opacity: 0;
    margin-left: 15px;
    animation: fade-in 1s ease-in 4s forwards;
}

.join-us-button {
    opacity: 0;
    height: 40px;
    width: 300px;
    margin-left: clamp(5px, 5vw, 15px);
    margin-top: 40px;
    background-color: rgb(1, 92, 166);
    border: none;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px !important;
    text-align: center;
    font-weight: bold;
    color: white;
    animation: fade-coming-up-bounce 1s ease-in 4.1s forwards;
    display: flex;
    align-items: center;
    justify-content: center;
    
}



.join-button-frame {
    display: inline-block;
    text-decoration: none;
    transition: transform 1s ease, color 0.3s ease;
    
}

.join-button-frame:hover {
    transform: scale(1.1);
}

.ow-motto a {
    text-decoration: none;
}
.hero {
    min-height: 100vh;
    position: relative;
}
.bottom-sec {
    color: white;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: clamp(30px, 5vw, 100px);

    padding: 1px clamp(20px, 5vw, 80px) 120px;

    box-sizing: border-box;
    width: 100%;
}


/* <div class="bottom-sec">
        <div class="bottom-left-block">
            <p class="bottom-title">WELCOME TO ONE WAY CHRISTIAN CHURCH</p>
            <h1 class="bottom-title-two">A place to Know God, find freedom, and discover your purpose.</h1>
            <p class="bottom-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti reiciendis tempora ex impedit? Fuga corrupti tempora architecto eius natus nulla, autem provident quisquam et magnam labore ex quos eum molestiae?</p>
            <h2 class="join-us-button-2">LEARN MORE ABOUT US →</h2>
        </div>
        <img src="images/worship.png" class="bottom-right-image">
    </div> */

.bottom-left-block > * {
    margin: 0;
}


.bottom-title {
    font-size: 19px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    color: rgb(1, 112, 202);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);

    margin-top: 55px;
}

.bottom-left-block {
    margin-left: 0;
    animation: come-from-left linear forwards;
    animation-timeline: view();
    animation-range: entry 0% entry 100% ;
    flex: 1;
    max-width: 660px;
    min-width: 0;
}

@media (max-width: 750px) {
    .bottom-sec {
        display: flex;
        flex-direction: column;
    }
    .bottom-title {
        text-align: center;
        width: 250px;
    }
    .bottom-title-two {
        text-align: center;
    }
    .ow-motto {
        margin-top: 0;
    }
}

.bottom-title-two {
    font-size: clamp(40px, 5vw, 55px);
    width: clamp(250px, 50vw, 660px);
    color: black;
    margin-top: 10px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
   
}
.bottom-description {
    color: black;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    width: clamp(250px, 40vw, 660px);
    text-align: center;
    line-height: 30px;
    margin-top: 20px;
}


.bottom-right-image {
    color: black;
    width: clamp(300px, 30vw, 650px);
    height: clamp(200px, 25vw, 350px);
    margin-top: 35px;
    margin-left: clamp(50px, 5vw, 100px);
    margin-right: clamp(50px, 5vw, 100px);
    border-radius: 10px;
    animation: come-from-right linear forwards;
    animation-timeline: view();
    animation-range: entry 0% entry 100% ;
}


.join-us-button-2 {
    height: 40px;
    width: clamp(250px, 35vw, 360px);
    margin-top: 25px;
    background-color: rgb(1, 112, 202) !important; 
    border: none !important;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(15px, 5vw, 20px) !important;
    text-align: center;
    font-weight: bold;
    color: white;
    padding-top: 20px;
    padding-bottom: 6px;
}

.plan-visit {
    margin-top: 50px;
    color:rgb(1, 92, 166);
    letter-spacing: 1px;
    font-size: 20px !important;
}
