body {
    background-color: black;
}

@keyframes come-from-left {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    80% {
        transform: translateX(2%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}


@keyframes fade-in {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes come-from-right {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }
    80% {
        transform: translateX(-2%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes come-up {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    75% {
        opacity: 0.8;
        transform: translateY(-5%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}


.top-text {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    padding-bottom: 50px;
}

.top-text-bio {
    animation:fade-in 1.5s ease-in forwards;
}

.top-text > * {
    margin: 0;
}

.top-text h1 {
    font-size: clamp(30px, 10vw, 105px);
    
}
.top-text h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    width: clamp(420px, 1vw, 550px);
    line-height: 30px;
    text-align: center ;
}

.get-connected-title {
    animation:fade-in 1.5s ease-in forwards;
}

.church-back {
    position: absolute;
    top: 0%;
    right: 35%;
    width: 70%;
    height: 50%;
    object-fit: cover;
    z-index: -2;   
    object-position: 0% 20%;

    -webkit-mask-image: 
    linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgb(0,0,0) 15%, rgb(0,0,0) 85%, rgba(0,0,0,0) 90%),
    linear-gradient(to right,  rgba(0,0,0,0) 70%, rgb(0,0,0) 85%, rgb(0,0,0) 85%, rgba(0,0,0,0) 100%);
    mask-image: 
    linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgb(0,0,0) 25%, rgb(0,0,0) 65%, rgba(0,0,0,0) 85%),
    linear-gradient(to right,  rgba(0,0,0,0) 15%, rgb(0,0,0) 35%, rgb(0,0,0) 92%, rgba(0,0,0,0) 100%);
    -webkit-mask-composite: destination-in;
     mask-composite: intersect;
    opacity: 0.4;
     animation: rise 2s ease-in;
}

.second-box {
    padding-top: 25px;
    border: 0.5px solid rgba(136, 136, 137, 0.6);
    border-left: none;
    border-right:none;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-around;
}

.small-title {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    color: rgb(0, 140, 255);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);


}

.sco-text {
    color: white;
    font-weight: lighter;
    margin-left: 40px;
    
}

.sco-text h3 {
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 15px;
}

.sco-text > * {
    margin: 0;
}


.second-colum-one {
    display: flex;
    align-items: center;
    opacity: 0;
    animation: come-from-left 1.5s ease-in forwards;
}
.center-bio {
    width: 300px;
}

.church-center-logo {
    width: clamp(100px, 10vw, 140px);
    margin-left:clamp(10px, 5vw, 20px);
}
.download-image {
    max-width: 150px;
    margin-right: 15px;
    margin-top: 15px;
    
}
.downloads {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.row2images {
    filter: invert();
    width: clamp(30px, 5vw, 60px);
}

.second-column-two {
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-top: -15px;
    margin-left: clamp(15px, 3vw, 45px);
    opacity: 0;
    animation: come-up 1.5s ease-in forwards;
}



.list-column-two-text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}


.list-column-two-text > * {
    margin: 0;
}

.list-column-two {
    display: flex;
    align-items: center;
    
}
.list-colm-h3 {
    font-size: clamp(5px,2vw, 20px);
    
}
.list-colm-h4 {
    margin-top: 5px;
    font-size: clamp(5px,12vw, 14px);
    margin-bottom: 5px;
}



.iphone-image {
    height: clamp(200px, 45vw, 300px);
    
    
}


.second-column-three {
    display: flex;
    align-items: center;
    color: white;
    opacity: 0;
    animation:come-from-right 2s forwards;
}

.sco-text-three > * {
    margin: 0;

}


.ready-to-download {
    font-weight: bolder;
}
.three-title {
    color: white;
}
.three-bio {
    color: white;
    width: 300px;
}

.third-first-column {
    color: black;
    padding-top: 25px;
    padding-bottom: 150px;
    margin-left: clamp(5px, 5vw, 25px);
    margin-right: clamp(5px, 5vw, 25px);
}

.third-box {
    background-color: white;
    display: flex;
    justify-content: space-around;
}


.third-first-column > * {
    margin:0;
}
.line {
    display: block;          
    width: 200px;             
    height: 2px;          
    background-color: black;   
    margin: 15px;
    opacity: 20%;
}

.instructions-title {
    font-size: clamp(40px, 5vw, 50px);
    margin-top: 15px;
}
.instructions-bio {
    max-width: clamp(150px,45vw, 350px);
    margin-top: 15px;

}

.instruction-block {
    display: flex;
    flex-direction: row;
}

.instruction-image {
    border-radius: 25px;
    max-width: clamp(150px, 55vw, 350px);
    max-height: clamp(100px, 55vw, 300px);
    margin-top: 25px;
}


.instruction-dio {
    margin-left: clamp(15px, 5vw, 30px);
    margin-right: clamp(15px, 5vw, 20px);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.instruction-title {
    text-align: center;
    font-size: clamp(20px, 5vw, 30px);
    margin-top: 70px;
    max-width: clamp(250px, 5vw, 350px);
}

.instruction-step {
    margin-top: 20px;
    max-width: clamp(150px, 25vw, 350px);
    text-align: center;
}


.change-button {
  height: 40px; 
  width: 200px; 
  background-color: rgb(1, 112, 202) !important; 
  border: none !important; 
  border-radius: 3px; 
  font-family: 'Montserrat', sans-serif; 
  font-size: 20px !important; 
  font-weight: bold; 
  color: white; 
  text-align: center;
  line-height: 40px; 
  cursor: pointer;
  transition: transform 1s ease, color 0.3s ease;
}

.change-button:hover {
    transform: scale(1.1);
}